:root {
  --bg-color: #fff;
  --text-color: #000;
}
.dark-mode {
  --bg-color: #333;
  --text-color: #fff;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
}
.navbar { margin-bottom: 60px; }